estudo/
prj_app/
prj_ia_catolica/databases/
prj_ia_catolica/files/
google-chrome-stable_current_amd64.deb/
datascience/prj_ans/bases/
datascience/prj_ans/operadoras/
datascience/prj_automacao/ETL/scraper_transfermarket.py
datascience/prj_futebol/ETL
datascience/prj_agentes/.env
datascience/prj_agentes/create_key.ipynb
datascience/prj_estudos