estudo/
prj_app/
prj_ia_catolica/databases/
prj_ia_catolica/files/
google-chrome-stable_current_amd64.deb/
prj_ans/bases/
prj_ans/operadoras/
prj_automacao/ETL/scraper_transfermarket.py
prj_futebol/ETL
